[Unit]
Description=Nextcloud Backup Manager
After=network.target

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/backup
Environment=RESTIC_PROGRESS_FPS=0.033333
ExecStart=/usr/bin/java -jar /opt/backup/nextcloud-backup-manager.jar
StandardOutput=journal
StandardError=journal
